<% if user_id != current_user.id %>
  <div class="message-container message-align-right" id="message-<%= message.id %>">
    <div class="triangle-right"></div>
      <p><%= message.content %></p>
      <small class="date"><%= l(message.created_at, format: "%a %e %l:%M%p ✓✓") %></small>
  </div>
<% else %>
  <div class="message-container message-align-left" id="message-<%= message.id %>">
    <div class="triangle-left"></div>
      <i class="author"><span class="span2"><%= message.user.user_name %></span></i>
      <p><%= message.content %></p>
  </div>
<% end %>
