<h1>#<%= @building.id %></h1>

<div id="messages" data-building-id="<%= @building.id %>">
  <% @building.messages.each do |message| %>
    <div class="message-container" id="message-<%= message.id %>">
      <i class="author">
        <span><%= message.user.nickname %></span>
        <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </i>
      <p><%= message.content %></p>
    </div>
  <% end %>
</div>

# http://localhost:3000/buildings/3/messages
