<div class="container">
  <h1>#<%= @building.id %></h1>

  <div id="messages" data-building-id="<%= @building.id %>">
    <% @building.messages.each do |message| %>
      <div class="message-container" id="message-<%= message.id %>">
        <i class="author">

          <span><%= message.user.user_name %></span>
          <small><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
        </i>
        <p><%= message.content %></p>
      </div>
    <% end %>
  </div>
</div>

<%= simple_form_for @message  do |f| %>

  <%= f.input :content, label: false, placeholder: "Message #" %>

  <%= f.button :submit do %>
    <i class="far fa-save"></i>
  <% end %>
<% end %>
