<div class="messages-container">
  <h1 style="text-align:center"><%= @building.name  %>'s Chat</h1>

 <div class="messages" id="messages" data-building-id="<%= @building.id %>" data-count=<%=@building.messages.size%>>
    <% @building.messages.each do |message| %>
    <% if message.user_id == current_user.id %>
      <div class="message-container message-align-right" id="message-<%= message.id %>">
        <i class="author">

          <span class="span1">You</span>

        </i>
        <p><%= message.content %></p>
        <small class="date"><%= message.created_at.strftime("%a %b %e at %l:%M%p ✓✓" ) %></small>
      </div>
    <% else %>
      <div class="message-container message-align-left" id="message-<%= message.id %>">
        <i class="author">

          <span class="span2"><%= message.user.user_name %></span>

        </i>
        <p><%= message.content %></p>
        <small class="date  "><%= message.created_at.strftime("%a %b %e at %l:%M%p") %></small>
      </div>
    <% end %>
    <% end %>
  </div>
  <div class="box-message">
      <%= simple_form_for @message  do |f| %>
        <%= f.input :content, input_html: { class: 'textcontent' },label: false, placeholder: "Message #" %>
        <%= f.button :submit do %>
        <i class="far fa-save"></i>
      <% end %>
      <% end %>
  </div>
</div>
