<nav class="menu">
  <%= link_to(root_path, class: "menu__item_first") do %>
    <%= image_tag "logo_NBB.svg", class: "logo" %>
  <% end %>

  <% if current_user.present? %>
    <%= link_to(dashboard_users_path, class: "menu__item", data: {tooltip: "Dashboard"}) do %>
      <i class="material-icons">dashboard</i>

    <% end %>

      <%= link_to(messages_path, class: "menu__item", data: {tooltip: "Messages"}) do %>
        <i class="material-icons">message</i>
      <% end %>
      <%= link_to(demands_path, class: "menu__item", data: {tooltip: "Demands"}) do %>
        <i class="material-icons">group</i>
      <% end %>

      <%= link_to(materials_path, class: "menu__item", data: {tooltip: "Objects"}) do %>
        <i class="material-icons">construction</i>
      <% end %>
    <a href="#" class="menu__item" data-tooltip="Documents">
      <i class="material-icons">forward_to_inbox</i>
    </a>
  <% end %>
  <div class="avatar_picture">
    <% if user_signed_in? %>
        <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        </div>
    <% else %>
        <%= link_to "Login", new_user_session_path, class: "menu_login" %>
    <% end %>
</div>

</nav>
