<% demands.each do |demand| %>
  <div class="card-demand" data-demands-index-target="info" data-id="<%= demand.id %>">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
    <div class="card-demand-infos">
      <h2><%= demand.title %></h2>
      <p><%= demand.description %></p>
      <p><small><%= demand.requester.user_name %> - <%= demand.created_at.strftime("%a, %d %B, %Y") %></small></p>
      <% if demand.status == 't' %>
        <i class="fa fa-info-circle card-more-info card-more-info-size" aria-hidden="true" data-action="click->demands-index#openShowModal"></i>
      <% else %>
        <i class="fa fa-info-circle card-demand-not-available card-more-info-size" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>
<% end %>
