<h2 style="color:white;">Creer votre demande</h2>
<%= simple_form_for @demand, html: { data: { demands_index_target: 'form' }} do |f| %>
  <%= f.input :title, label:"Titre", input_html: { class: 'input' } %>
  <%= f.input :description, :input_html => { :class => 'input' } %>
  <%= f.input :photo, as: :file %>
  <%= f.input :start_date, as: :date, html5: true %>
  <%= f.input :end_date, as: :date, html5: true %>
  <%= f.button :submit, "Creer" %>
<% end %>
