<div class="show-card-demand-container" data-id="<%= demand.id %>">
  <div class="show-card-demand-header">
    <div class="show-card-demand-header-img">
      <%= cl_image_tag demand.photo.key, height: 300, width: 300, crop: :fill %>
    </div>

    <div class="show-card-demand-header-details">
      <div class="show-card-demand-content">
        <h2><%= demand.title %>
        <hr>
          <span><small> <%= demand.requester.user_name %> - <%= demand.created_at.strftime("%a, %d %B, %Y") %></small></span>
        </h2>
      </div>

      <div class="show-card-demand-description">
        <% if demand.requester == current_user %>
          <p><%= demand.responder.first_name %> <%= demand.responder.last_name %> accepte de vous aider.</p>
        <% else %>
          <p><%= demand.description %></p>
        <% end %>
      </div>

      <div class="show-card-date-accept-btn">
        <div class="show-card-date-accept">
              <p><strong>Début:</strong> <%= demand.start_date.strftime("%d %b") %></p>
              <p> &nbsp; &nbsp;<strong>Fin:</strong> <%= demand.end_date.strftime("%d %b") %></p>
            </div>
        <div class="show-card-demand-btns ">
          <% if demand.requester.id == current_user.id %>
            <div class="btn-accept" data-status="confirmer" data-action="click->demands-index#updateStatus"><i class="fas fa-check"></i>Accept</div>
            <div data-status="posted" class="btn-decline" data-action="click->demands-index#updateStatus"><i class="fas fa-undo-alt"></i>Decline</div>
          <% else %>
            <div data-status="accepted" class="btn-accept" data-action="click->demands-index#updateStatus"><i class="fas fa-check"></i>Accept</div>
          <% end %>
        </div>
      </div>
      <i class="far fa-times-circle close-show-demand" aria-hidden="true" data-action="click->demands-index#closeShowModal"></i>
    </div>  
  </div>
</div>
