<div class="container" data-controller="demands-index">
  <h1>Hey! This is your Dashboard</h1>

  <h2>Here are your objects and their status</h2>
  <%= link_to "Add Object", new_material_path %>
  <div class="card-list">
    <% @materials.each do |material| %>
      <div class="card-trip-outside-frame">
          <% if material.available %>
            <span class="badge available">Available</span>
          <% else %>
            <span class="badge notavailable">In Use</span>
          <% end %>
        <div class="card-trip-index">
          <%= cl_image_tag material.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="card-trip-index-infos">
            <div>
              <h2><%= link_to material.title, material_path(material) %></h2>
              <h2 class="card-trip-index-pricing"><%= material.user.user_name%></h2>
            </div>
            <%= link_to('Edit', edit_material_path(material), class: "button_book") %>
            <%= link_to('Delete', material_path(material), method: :delete, data: { confirm: "Are you sure?" }, class: "button_book") %>
            <%= cl_image_tag material.user.photo.key, crop: :fill, class: "card-trip-index-user avatar-bordered" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <h2>Here are your requested demands</h2>
  <div class="card-demands" data-demands-index-target="list">
    <%= render 'demands/list', demands: @demands %>
  </div>

  <h2>Here are your accepted demands</h2>
  <% @acceptances.each do |acceptance| %>
    <div class="card-demand">
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
      <div class="card-demand-infos">
        <h2><%= acceptance.title %></h2>
        <p><%= acceptance.description %></p>
        <p><small><%= acceptance.requester.user_name %> - <%= acceptance.created_at.strftime("%a, %d %B, %Y") %></small></p>
        <i class="fa fa-info-circle card-more-info card-more-info-size" aria-hidden="true"></i>
      </div>
    </div>
  <% end %>

  <!-- > Modal show demand  <!-->
  <div class="show-demand-container" data-demands-index-target='show'>
  </div>
</div>
