<div class="container" data-controller="demands-index">
  <h1 class= "title">Votre Tableau de Contrôle</h1>
  <div class="add_material_solo">
    <div class='add_material_button_selected' data-action="click->demands-index#openAddModal"><i class="far fa-plus-square"></i> Ajoutez un objet </div>
  </div>
  <div class="materials_in_dashboard">
    <div class="dashboard_section_card ">
      <h2 class="titre_dashboard"> <%= @materials.count %> contributions à l'Entrepôt</h2>
      <div class="dashboard-card-materials">
        <% @materials.each do |material| %>
          <div class="card-trip-outside-frame">
              <% if material.available? %>
                <span class="badge available">Disponible</span>
              <% else %>
                <span class="badge notavailable">Reservé</span>
              <% end %>
            <div class="card-trip-index">
              <%= cl_image_tag material.photo.key, height: 300, width: 400, crop: :fill %>
              <div class="card-trip-index-infos">
                <div class="card-trip-title-username">
                  <h2><%= link_to material.title, material_path(material) %></h2>
                  <h2 class="card-trip-index-pricing"><%= material.user.user_name%></h2>
                </div>
                <%= cl_image_tag material.user.photo.key, crop: :fill, class: "card-trip-index-user avatar-bordered" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="dashboard_section_card ">
      <% if @booking == false %>
        <h2 class="titre_dashboard">Vous n'avez actuellement aucune réservation</h2>
      <% else %>
        <h2 class="titre_dashboard">Vous avez <%= @bookings.count %> réservations</h2>
        <div class="dashboard-card-materials">
          <% @bookings.each do |booking| %>
            <div class="card-trip-outside-frame">
              <span class="badge booking"><%= booking.start_time.strftime("%d %b") %> to <%= booking.end_time.strftime("%d %b") %></span>
              <div class="card-trip-index">
                <%= cl_image_tag booking.material.photo.key, height: 300, width: 400, crop: :fill %>
                <div class="card-trip-index-infos">
                  <div class="card-trip-title-username">
                    <h2><%= link_to booking.material.title, material_path(booking.material) %></h2>
                    <h2 class="card-trip-index-pricing"><%= booking.material.user.user_name%></h2>
                  </div>
                  <%= cl_image_tag booking.material.user.photo.key, crop: :fill, class: "card-trip-index-user avatar-bordered" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

    <div class="demand-engagements">
      <div class="col-demand">
        <div class="dashboard_section_card ">
          <h2 class="titre_dashboard"><%= @demands.count %> demande(s)</h2>
          <div class="dashboard_section_card_inner">
            <div data-demands-index-target="list">
              <%= render 'demands/list', demands: @demands %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-engagements">
        <div class="dashboard_section_card ">
          <h2 class="titre_dashboard"><%= @acceptances.count %> engagement(s)</h2>
          <div class="dashboard_section_card_inner">
            <% @acceptances.each do |acceptance| %>
              <div class="card-demand-half">
                <%= cl_image_tag acceptance.photo.key, crop: :fill, class: "card-trip-index-user" %>
                <div class="card-demand-half-infos">
                  <h2><%= acceptance.title %></h2>
                  <div class="card-half-paragraph">
                    <p><%= acceptance.description %></p>
                  </div>
                  <p><small><%= acceptance.requester.user_name %> - <%= l(acceptance.start_date, format: "%a, %d %B, %Y") %></small></p>
                  <i class="fa fa-info-circle card-more-info card-more-info-size" aria-hidden="true"></i>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>

<!-- > Modal add demand  <!-->
  <div class='new-demand-container' data-demands-index-target='add'>
    <div class='add-demand-form'>
      <%= render 'materials/new' %>
      <i class="fas fa-times close-add-demand-form" aria-hidden="true" data-action="click->demands-index#closeAddModal"></i>
    </div>
  </div>

  <!-- > Modal show demand  <!-->
  <div class="show-demand-container" data-demands-index-target='show'>
  </div>
</div>
