<div class="container" data-controller="demands-index">
  <h1 class="title"> Tableau de Contrôle des demandes</h1>
  <div class="add_material">
    <div>
      <%= link_to "Demandes", demands_path, class: "add_material_button" %>
      <%= link_to "Mes demandes", demands_users_path, class: "add_material_button_selected" %>
      <%= link_to "Mes engagements", demands_pending_users_path, class: "add_material_button" %>
    </div>
    <div class='add_material_button_selected' data-action="click->demands-index#openAddModal"><i class="far fa-plus-square"></i> Nouvelle demande </div>
  </div>
  <div class="object_counter">
    <p><strong><%= @pending.count %></strong> demande(s) en attente ⏳</p>
  </div>

  <div class="row">
    <div class="col-sm">
      <h2>Vos demandes</h2>
      <div data-demands-index-target="list">
        <%= render 'demands/list', demands: @demands %>
      </div>
    </div>
  </div>

  <!-- > Modal add demand  <!-->
  <div class='new-demand-container' data-demands-index-target='add'>
    <div class='add-demand-form'>
      <%= render 'demands/new' %>
      <i class="fas fa-times close-add-demand-form" aria-hidden="true" data-action="click->demands-index#closeAddModal"></i>
    </div>
  </div>

  <!-- > Modal show demand  <!-->
  <div class="show-demand-container" data-demands-index-target='show'></div>
</div>
