<div class="container" data-controller="demands-index">
  <h1 class="title"> Tableau de Contrôle des demandes</h1>
  <div class="add_material">
    <div>
      <%= link_to "Demandes", demands_path, class: "add_material_button" %>
      <%= link_to "Mes demandes", demands_users_path, class: "add_material_button" %>
      <%= link_to "Mes engagements", demands_pending_users_path, class: "add_material_button_selected" %>
    </div>
    <div class='add_material_button_selected' data-action="click->demands-index#openAddModal"><i class="far fa-plus-square"></i> Nouvelle demande </div>
  </div>
  <div class="object_counter">
    <p><strong><%= @acceptances.count %></strong> demande(s) acceptée(s) 🤝</p>
  </div>

  <div class="row">
    <div class="col-sm">
        <h2>Vos engagements</h2>
        <% @acceptances.each do |acceptance| %>
          <div class="card-demand-half">
            <%= cl_image_tag acceptance.photo.key, crop: :fill, class: "card-trip-index-user" %>
            <div class="card-demand-half-infos">
              <h2><%= acceptance.title %></h2>
              <div class="card-half-paragraph">
                <p><%= acceptance.description %></p>
              </div>
              <div style="display: flex">
                <%= cl_image_tag acceptance.requester.photo.key, crop: :fill, class: "card-trip-index-user avatar-bordered small" %>
                <p><%= acceptance.requester.user_name %> - <%= l(acceptance.start_date, format: "%a, %d %B, %Y")%></p>
                <i class="fa fa-info-circle card-more-info card-more-info-size" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- > Modal add demand  <!-->
  <div class='new-demand-container' data-demands-index-target='add'>
    <div class='add-demand-form'>
      <%= render 'demands/new' %>
      <i class="fas fa-times close-add-demand-form" aria-hidden="true" data-action="click->demands-index#closeAddModal"></i>
    </div>
  </div>

  <!-- > Modal show demand  <!-->
  <div class="show-demand-container" data-demands-index-target='show'></div>
</div>
