<h2 style="color:white;">Partagez des objets sympas avec vos voisins</h2>
<div class="group">
  <div class="label">
    <%= simple_form_for @material  do |f| %>
      <%= f.input :title, label:"Titre" %>
      <%= f.input :description, as: :text %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, "Creer"%>
    <% end %>
  </div>
</div>
