<div class="exterior-container-materials" data-controller="demands-index">
  <h1 style="text-align:center">L'Entrepôt '<%= current_user.building.name %>'</h1>

  <div class="add_material">
    <div>
      <%= link_to "Entrepôt", materials_path, class: "add_material_button_selected" %>
      <%= link_to "Mes Objets", materials_users_path, class: "add_material_button" %>
    </div>
  </div>
  <div class="object_counter">
    <p><strong><%= @materials.count %></strong> objets mis à disposition</p>
  </div>

  <div class="card-list">
    <% @materials.each do |material| %>
      <div class="card-trip-outside-frame">
        <% if material.available? %>
          <span class="badge available">Disponible</span>
        <% else %>
          <span class="badge notavailable">Réservé</span>
        <% end %>
        <div class="card-trip-index">
          <%= cl_image_tag material.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="card-trip-index-infos">
            <div class="card-trip-title-username">
              <%= cl_image_tag material.user.photo.key, crop: :fill, class: "card-trip-index-user avatar-bordered-small" %>
              <h2><%= link_to material.title, material_path(material) %></h2>
              <%= link_to('Reserver', material_path(material), class: "button_book") %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <!-- > Modal add demand  <!-->
<div class='new-demand-container' data-demands-index-target='add'>
  <div class='add-demand-form'>
    <%= render 'materials/new' %>
    <i class="fas fa-times close-add-demand-form" aria-hidden="true" data-action="click->demands-index#closeAddModal"></i>
  </div>
</div>

<!-- > Modal show demand  <!-->
<div class="show-demand-container" data-demands-index-target='show'>
</div>
