<div class="exterior-container-materials">
  <h1 style="text-align:center">Your Building's Warehouse</h1>

  <div class="add_material">
    <%= link_to "Add Material", new_material_path, class: "add_material_button" %>
  </div>
  <div class="card-list">
    <% @materials.each do |material| %>
      <div class="card-trip-outside-frame">
        <% if material.available %>
          <span class="badge available">Available</span>
        <% else %>
          <span class="badge notavailable">In Use</span>
        <% end %>
        <div class="card-trip-index">
          <%= cl_image_tag material.photo.key, height: 300, width: 400, crop: :fill %>
          <div class="card-trip-index-infos">
            <div class="card-trip-title-username">
              <h2><%= link_to material.title, material_path(material) %></h2>
              <p class="card-trip-index-pricing"><%= material.user.user_name%></p>
            </div>
            <%= link_to('Book', material_path(material), class: "button_book") %>
            <%= cl_image_tag material.user.photo.key, crop: :fill, class: "card-trip-index-user avatar-bordered" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
