<div class="show-container">
  <h1>Welcome to the material show</h1>

  <div class="card-trip-show">
    <%= cl_image_tag @material.photo.key, height: 300, width: 400, crop: :fill %>
    <div class="card-trip-show-infos">
        <div class="show-material-title">
          <h2> <%= @material.title%></h2>
        </div>
        <div class="show-material-description">
          <i class="fas fa-question-circle"></i>
          <p><%= @material.description%></p>
        </div>
        <div class="show-material-owner">
          <%= cl_image_tag @material.user.photo.key, crop: :fill, class: "card-trip-index-user avatar-bordered small" %>
          <% if current_user == @material.user%>
          <h2>Vous êtes le propriétaire</h2>
          <% else %>
            <h2 class="card-trip-index-pricing"> - <%= @material.user.first_name %><%= @material.user.last_name %></h2>
          <% end %>
        </div>
        <div class="show-material-available">
          <% if @material.available %>
            <p><%= "'#{@material.title}' is currently availbale "  %></p>
          <% else %>
            <p><%= "Come back soon ... #{@material.title} is reserved" %></p>
          <% end %>
        </div>
    </div>
    <div class="card-show-calendar">
      <div class="card-show-calendar-overview" style="object-fit:contain">
        <%= month_calendar(events: @meetings) do |date, meetings| %>
          <%= date.strftime("%d") %>
        <% end %>
      </div>
      <div class="card-show-booking">
        <% if current_user == @material.user%>
          <%= link_to('Edit', edit_material_path(@material), class: "button_book") %>
          <%= link_to('Delete', material_path(@material), method: :delete, data: { confirm: "Are you sure?" }, class: "button_book_delete") %>
        <% else %>
          <%= link_to('Book', '#', class: "button_book_show") %>
        <% end %>
      </div>
    </div>
  </div>
    <% if current_user == @material.user %>
      <%= link_to "Back", dashboard_users_path, class: "button_book" %>
    <% else %>
      <%= link_to "Back", materials_path, class: "button_book" %>
    <% end %>
</div>
