<div class="show-container">
  <h1>Welcome to the material show</h1>

  <div class="card-trip-show">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-show-infos">
        <div class="show-material-title">
          <h2> <%= @material.title%></h2>
        </div>
        <div class="show-material-description">
          <i class="fas fa-question-circle"></i>
          <p><%= @material.description%></p>
        </div>
        <div class="show-material-owner">
          <i class="fas fa-user"></i>
          <h2 class="card-trip-index-pricing"><%= @material.user.user_name %> - <%= @material.user.first_name %><%= @material.user.last_name %></h2>
        </div>
        <div class="show-material-available">
          <% if @material.available %>
            <p><%= "'#{@material.title}' is currently availbale "  %></p>
          <% else %>
            <p><%= "Come back soon ... #{@material.title} is reserved" %></p>
          <% end %>
        </div>
    </div>
    <div class="card-show-calendar">
      <div class="card-show-calendar-overview" style="object-fit:contain">
        <%= month_calendar do |date| %>
          <%= date.strftime("%d") %>
        <% end %>
      </div>
      <div class="card-show-booking">
        <%= link_to('Book', '#', class: "button_book_show") %>
      </div>
    </div>
  </div>
  <%= link_to "Back", materials_path, class: "button_book" %>
</div>
